@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1569227832759'); /* IE9 */
  src: url('iconfont.eot?t=1569227832759#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJ8AAsAAAAABjQAAAIwAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo0VwE2AiQDCAsGAAQgBYRtBzsbiAURBXTIviqwG84/otawwq80rlZ9hAifcBx9YkJCzOc5gnCsnE1yiOqRy5o1oKpCtBWqqnUejWbJuvoSAXC1cXiY3fXDV6msrelacDUqwnRK/B66I9/16/JhncdplEJIhKQqXH2ey+lNoAOZH+gc24PGmjRpAPXigALdA6PISijjhrELXuBjAk0L9sS5yerk1RX2qkA8buvcqxeiisIKdaHacLCItyrq6XUKb6Lvxz9HA0kls1su3h1X3qmfnJLcLDcCQoyAjleQsYdCXG3MnpcF47JmtljhWI3BT7NZ4BFHdQr219n1bTAHVc+k9lYKkOCxVAOHp5OuI9qvDqfL7nzaX8/HS/azd9u9vs8p8Gd5Ny0Q1PbfnRD/axXweUSOYpif+vq+4D+oBw4UQ2u7U9HUjeNJe/9tTU3M4ODQj6ldJy2GuskEf818hqxujSzsHipajqOqLj6Jpl3T4y0jZChKAzveAKHvg6TrE7K+L1nYHyqm/qjqR0bT9Rhd2LIRD5pnX2LOWEHxgrY0WrheDuLGA9Y3mVNeG/EXJNcmII2ScmGKGmmJLe5eZ8wCBBkFE/AcSmnAkumw5KhhtqM4Fk1vikqjvMBZBOUYqoDCC2iVDE0Ek1lQ+fwBqt1IOeroqysvEHHa2UEqkgwgpyY9qO9RXnHuahnGBCAQQwETMA9JkgFs87wOKrFIMyFtjcTOKDHUFG1vUX93CppsewpnYza4mTuUrcawlMYFEfv0PAAA') format('woff2'),
  url('iconfont.woff?t=1569227832759') format('woff'),
  url('iconfont.ttf?t=1569227832759') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1569227832759#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baseline-close-px:before {
  content: "\e615";
}

